<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/static/admin/dashboard.css">
  <title>Admin Dashboard</title>
</head>
<body>
  <div id="app">
    <p id="title">Admin Dashboard</p>

    <!-- Delete Upload -->
    <div id="action">
      <p id="name">Delete Upload</p>
      <form action="/admin/upload/delete" method="GET">
        <input name="id" type="text" placeholder="Upload ID" required><br>
        <input type="submit" value="Submit">
      </form>
    </div>

    <!-- Modify upload ID -->
    <div id="action">
      <p id="name">Change Upload ID</p>
      <form action="/admin/upload/change" method="GET">
        <input name="old" type="text" placeholder="Upload ID" required><br>
        <input name="new" type="text" placeholder="New ID" required><br>
        <input type="submit" value="Submit">
      </form>
    </div>

    <!-- Delete Meta Data -->
    <div id="action">
      <p id="name">Delete Meta Data</p>
      <form action="/admin/meta/delete" method="GET">
        <input name="id" type="text" placeholder="Upload ID" required><br>
        <input type="submit" value="Submit">
      </form>
    </div>

    <!-- Modify Meta Data -->
    <div id="action">
      <p id="name">Modify Meta Data</p>
      <form action="/admin/upload/change" method="GET">
        <input name="id" type="text" placeholder="Upload ID" required><br>
        <textarea name="data" cols="30" rows="10" placeholder="New data"></textarea><br>
        <input type="submit" value="Submit">
      </form>
    </div>

    <!-- Ban IP Address -->
    <div id="action">
      <p id="name">Ban IP Address</p>
      <form action="/admin/upload/change" method="GET">
        <input name="ip" type="text" placeholder="Upload ID" required><br>
        <input type="submit" value="Submit">
      </form>
    </div>

  </div>
</body>
</html>