<%- '<!DOCTYPE html>' %>
<html lang="en">
  <head>
    <title>API Documentation</title>
    <link rel="stylesheet" href="/static/api.css">
    <%- include('partials/metadata') %>
  </head>
  <body>
    <div id="app">
      <p id="title">API Documentation</p>
      <a draggable="false" href="/" rel="noreferrer">Home</a><br><br><br>
      <p id="info">Base URL: <code class="inline">https://kim.kieranhowland.cc/api/(endpoint)</code></p>
      <p id="info">Uploads Base URL: <code class="inline">https://kim.kieranhowland.cc/uploads/(id)</code></p><br>
      <table>
        <tr>
          <th>Method</th>
          <th>Endpoint</th>
          <th>Response</th>
          <th>Description</th>
        </tr>
        <tr>
          <td>POST</td>
          <td>/upload/</td>
          <td>
            <p>Request:</p>
            <code>curl -X POST -F "image=@cat.png" https://kim.kieranhowland.cc/api/upload</code><br>
            <p>Response:</p>
            <code>{
  "status":200,
  "data":{
    "image_id":"DQNMMxSm8SbYSJVt15cecbke8LqsidfE",
    "filetype":"png"
  }
}</code>
          </td>
          <td>Uploads an image and returns the ID and type</td>
        </tr>
        <tr>
          <td>GET</td>
          <td>/meta/(ID)</td>
          <td>
            <p>Request:</p>
            <code>curl https://kim.kieranhowland.cc/api/meta/CZD16C3kHvAhiC2PD6r8FQWmiqse82RS</code><br>
            <p>Response:</p>
            <code>{
  "status":200,
  "data":{
    "uploadedAt":1551415661,
    "filetype":"png"
  }
}</code>
          </td>
          <td>Gets meta data on the specified image (Some images don't have meta data stored)</td>
        </tr>
      </table>
    </div>
  </body>
</html>
<script>/**/</script>
<%- include('partials/generated') %>