<%- '<!DOCTYPE html>' %>
<html lang="en">
  <head>
    <%- include('partials/metadata') %>
    <title>Image Not Found</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <style media="screen">
      html, body {
        height: 100%;
        width: 100%;
      }
      body {
        margin: 0;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        background-image: linear-gradient(to left, #191919, #0f0f0f);
        color: #ffffff;
        user-select: none;
        box-sizing: border-box;
      }
      div {
        padding: 16px;
      }
      p {
        margin: 0;
      }
      .main-div {
        display: inline-block;
        background-color: #2d2d2d;
        border-radius: 32px;
        padding: 16px 64px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0px 10px 16px -10px #000000;
      }
      @media (max-width : 480px) {
        body {
          margin-top: 32px;
        }
        div {
          padding: 8px;
        }
        .main-div {
          padding: 16px 32px;
          position: inherit;
          transform: translate(0%, 0%);
        }
      }
    </style>
    <script type="text/javascript">
      window.onload = function() {
        if (window.location.protocol !== "https:") {
          window.location.protocol = "https";
        }
      }
    </script>
  </head>

  <body>
    <div class="main-div">
      <p style="font-size: 20px; padding-bottom: 12px;">Unaccepted Filetype</p>
      <p style="font-size: 16px;">The <b><%= file_extension %></b> file extension is not supported.</p>
    </div>
  </body>
<%- include('partials/license') %>
</html>
