div#app {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 32px;
  box-sizing: border-box;
}

p#title {
  font-size: 1.5em;
  margin: 16px 0 16px 0;
}

p#info {
  font-size: 0.9em;
  margin: 0 0 8px 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 0.9em;
}

td, th {
  padding: 16px;
  text-align: left;
  border-bottom: 1px solid rgb(119, 119, 119, 0.4);
}

tr {
  transition: .2s ease-in-out;
}

tr:hover {
  background: rgb(24, 24, 27);
}

code {
  font-family: 'Lucida Sans Typewriter', monospace;
  white-space: pre;
  font-size: 0.8em;
  background: rgb(28, 28, 31);
  border: 1px solid rgb(0, 0, 0, 0.4);
  user-select: text;
  -moz-user-select: text;
  border-radius: 4px;
  padding: 8px;
  display: block;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
}

code#inline {
  padding: 4px;
  display: inline;
}